{% from "_includes/forms" import textField, lightswitchField, selectField, autosuggestField, booleanMenuField, selectizeField %}

{{ booleanMenuField({
    label: "Should commerce send cart information to gateway when making transactions."|t('commerce'),
    id: 'sendCartInfo',
    name: 'sendCartInfo',
    includeEnvVars: true,
    errors: gateway.getErrors('sendCartInfo'),
    value: gateway.sendCartInfo
}) }}

{{ autosuggestField({
  label: 'Client ID'|t('commerce'),
  id: 'clientId',
  class: 'ltr',
  name: 'clientId',
  suggestEnvVars: true,
  value: gateway.clientId,
  errors: gateway.getErrors('clientId')
}) }}

{{ autosuggestField({
  label: "Secret"|t('commerce'),
  id: 'secret',
  class: 'ltr',
  name: 'secret',
  suggestEnvVars: true,
  value: gateway.secret,
  errors: gateway.getErrors('secret')
}) }}

{{ selectizeField({
    label: "Landing page"|t('commerce'),
    name: 'landingPage',
    options: [
        { value: 'BILLING', label: "Billing" },
        { value: 'LOGIN', label: "Login" },
        { value: 'NO_PREFERENCE', label: "No Preference" }
    ],
    includeEnvVars: true,
    value: gateway.landingPage,
    errors: gateway.getErrors('landingPage')
}) }}

{{ textField({
  label: "Brand name"|t('commerce'),
  id: 'brandName',
  class: 'ltr',
  name: 'brandName',
  value: gateway.brandName,
  errors: gateway.getErrors('brandName')
}) }}

{{ booleanMenuField({
    label: "Test mode?"|t('commerce'),
    name: 'testMode',
    includeEnvVars: true,
    errors: gateway.getErrors('testMode'),
    value: gateway.testMode
}) }}