{% from "_includes/forms" import autosuggestField, booleanMenuField, selectizeField %}

{{ booleanMenuField({
  label: 'Send cart information to PayPal when making transactions?'|t('commerce'),
  id: 'sendCartInfo',
  name: 'sendCartInfo',
  includeEnvVars: true,
  errors: gateway.getErrors('sendCartInfo'),
  value: gateway.getSendCartInfo(false)
}) }}

{{ booleanMenuField({
  label: 'Send shipping information to PayPal when making transactions?'|t('commerce'),
  id: 'sendShippingInfo',
  name: 'sendShippingInfo',
  includeEnvVars: true,
  errors: gateway.getErrors('sendShippingInfo'),
  value: gateway.getSendShippingInfo(false)
}) }}

{{ autosuggestField({
  label: 'Client ID'|t('commerce'),
  id: 'clientId',
  class: 'ltr',
  name: 'clientId',
  suggestEnvVars: true,
  value: gateway.getClientId(false),
  errors: gateway.getErrors('clientId')
}) }}

{{ autosuggestField({
  label: 'Secret'|t('commerce'),
  id: 'secret',
  class: 'ltr',
  name: 'secret',
  suggestEnvVars: true,
  value: gateway.getSecret(false),
  errors: gateway.getErrors('secret')
}) }}

{{ selectizeField({
  label: 'Landing Page'|t('commerce'),
  name: 'landingPage',
  options: [
    { value: 'BILLING', label: 'Billing' },
    { value: 'LOGIN', label: 'Login' },
    { value: 'NO_PREFERENCE', label: 'No Preference' }
  ],
  includeEnvVars: true,
  value: gateway.getLandingPage(false),
  errors: gateway.getErrors('landingPage')
}) }}

{{ autosuggestField({
  label: 'Brand Name'|t('commerce'),
  id: 'brandName',
  class: 'ltr',
  name: 'brandName',
  suggestEnvVars: true,
  value: gateway.getBrandName(false),
  errors: gateway.getErrors('brandName'),
}) }}

{{ booleanMenuField({
  label: 'Test Mode?'|t('commerce'),
  name: 'testMode',
  includeEnvVars: true,
  errors: gateway.getErrors('testMode'),
  value: gateway.getTestMode(false)
}) }}
